[Unit]
Description=
After=syslog.target network.target

[Service]
Type=simple
EnvironmentFile=/etc/environment
Environment=KAFKA_HEAP_OPTS="-Xmx128M"
WorkingDirectory=/home/admin
ExecStart=/bin/sh -c '/opt/kafka/bin/zookeeper-server-start.sh /opt/kafka/config/zookeeper.properties'
LimitNOFILE=1000
RemainAfterExit=no
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
