[mysqld]
user=mysql

general_log=ON

log_bin=/opt/mysql/data/mysql-bin
relay_log=/opt/mysql/data/mysql-relay-bin

innodb_flush_log_at_trx_commit=1
sync_binlog=1
skip_networking=false

require_secure_transport=ON

ssl_ca=/opt/mysql/certs/ca.pem
ssl_cert=/opt/mysql/certs/server-cert.pem
ssl_key=/opt/mysql/certs/server-key.pem

sha256_password_private_key_path=/opt/mysql/certs/private_key.pem
sha256_password_public_key_path=/opt/mysql/certs/public_key.pem

[client]
ssl_ca=/opt/mysql/certs/ca.pem
ssl_cert=/opt/mysql/certs/client-cert.pem
ssl_key=/opt/mysql/certs/client-key.pem

[mysqldump]
quick
