[mysqld]
character-set-server = utf8mb4
bind-address    = 0.0.0.0
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock

basedir=/opt/mysql/
datadir=/opt/mysql/data

lc_messages_dir = /opt/mysql/data/share
lc_messages = en_US

secure-file-priv= NULL
symbolic-links=0

!includedir /etc/mysql/conf.d/
