.Form {
  color: inherit;
  font-size: 12px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 45px 25px 30px;
}

.form-container {
  margin: 2rem 0;
  width: 400px
}

.form-input {
  width: 100%;
  border-radius: 10px;
  border: 1px #c4c0c0 solid;
  text-align: center;
}

.form-error-msg {
  margin: 5px;
}

.form-submit {
  background-color: white;
  color: black;
  border: 1px solid #008CBA;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 9px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 50px;
  height: 18px;
  margin: 10px 0;
  border-radius: 4px;
  justify-self: end;
}
